label {
  margin-top: 30px;
  font-size: 18px;
}
label .req {
  color: #1ab188;
}
label .req:after {
  content: '*';
}

input,
textarea {
  font-size: 22px;
}
.btn-new-post {
  align-self: center;
  margin-bottom: 20px;
  width: 50%;
  position: absolute;
  bottom: 0;
}
.btn-new-div {
  margin-top: 100px;
  text-align: left;
}
.btn-pad {
  width: 45%;
  height: 80px;
  font-size: 20px;
  text-align: center;
}
.btn-reply,
.btn-back {
  margin: 30px 0px 20px 0px;
  width: 100%;
}

.error {
  color: red;
}
.form {
  margin-top: 40px;
  margin-bottom: 20px;
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main .title {
  font-size: 20px;
}
.main .user {
  font-size: 18px;
}
.main .comment {
  float: right;
  padding-right: 10px;
}
.main .date {
  display: none;
  padding-right: 10px;
  float: right;
}

.post-detail {
  margin-top: 10px;
  text-align: left;
  border: 1px solid;
}
.detail-page-post {
  text-align: left;
}
.detail-page-post .title {
  font-size: 24px;
}
.detail-page-post .message {
  font-size: 17px;
}
.detail-page-post .user {
  font-size: 19px;
}
.detail-page-post .date {
  font-size: 19px;
}

.post-response {
  margin: 20px;
  padding-top: 20px;
  font-size: 20px;
  text-align: left;
}
.post-response .post-response-label {
  margin-left: -20px;
}

.arrow,
.btn-back-primary {
  display: none;
}
.img-arrow {
  padding-top: 12px;
  width: 40px;
  height: 40px;
}

.post-replies {
  padding-top: 20px;
  text-align: left;
}

.hr-dotted {
  border-top: dotted 2px;
}
.post-comment {
  float: right;
  padding-right: 10px;
}
@media (min-width: 991px) {
  .btn-new-div {
    margin-top: 150px;
    text-align: right;
  }

  .btn-pad {
    margin-left: 20px;
    width: 20%;
    height: 60px;
    font-size: 20px;
  }

  .btn-back-primary {
    float: right;
    display: inline;
  }

  .btn-reply {
    height: 50px;
    width: 80%;
  }
  .vcenter {
    padding-top: 80px;
  }

  .post-user {
    float: left;
  }

  .main-comment {
    float: none;
    padding-left: 20px;
  }
  .btn-back,
  .reply-back-hr {
    display: none;
  }
  .arrow,
  .main-date {
    display: inline;
  }
}
